.crystals {
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.crystal {
    border: 1px solid green;
    height: 200px;
    width: 200px;
    float: left;
    border-radius: 4px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
    background-image:"url('images[i]')";
    margin: 10px;
    transition: box-shadow 1s;
}

.crystal:hover {
    box-shadow: 15px 15px 15px rgba(0, 0, 0, 0.5);
    cursor: pointer;
    padding: 5px;
    transition: box-shadow 1s;

} 
