.crystals {
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.crystal {
    border: 1px solid red;
    height: 200px;
    width: 200px;
    float: left;
    border-radius: 4px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
    margin: 10px;
    transition: box-shadow 1s;
}

.crystal:hover {
    box-shadow: 15px 15px 15px rgba(0, 0, 0, 0.5);
    cursor: pointer;
    padding: 5px;
    transition: box-shadow 1s;

} 

.style1{
    background: grey;
    font-family: Arial, Helvetica, sans-serif;
    
}

#result{
    background: lightgrey;
    width: 15%;
    color: red;

}

#wins{
    background: lightgray;
    width: 10%;
    color: red;

}

#lost{
    background: lightgray;
    width: 10%;
    color: red;


}
#counter{
    background: lightgray;
    width: 15%;
    color: red;

    
}

#body{
    background: lightgrey;
    background-image: url("../images/crystalBackground.png");
}